{% extends "base.html" %}
{% load static %}

{% block title %}Зміна пароля{% endblock %}
{% block head %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
<link href="{% static 'css/login.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

{% include "includes/messages.html" %}

<div class="form-wrapper">
    <div class="form-container">
        <h2>Зміна паролю</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Змінити пароль</button>
        </form>
    </div>
</div>

{% endblock %}
