<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home' %}">Goods Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">Головна</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Про нас</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Магазин</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Усі товари</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#">Популярні</a></li>
                        <li><a class="dropdown-item" href="#">Новинки</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown d-flex align-items-center">
                    <!-- Лінка на категорії -->
                    <a class="nav-link" href="{% url 'all_categories_show' %}" id="categoriesLink">
                        Категорії
                    </a>
                    <!-- Dropdown toggle (кнопка для відкривання меню на одному рівні) -->
                    <a class="nav-link dropdown-toggle no-arrow" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                        {% for category in categories %}
                            <li>
                                <a class="dropdown-item" href="{% url 'category_show' category_id=category.category_id %}">
                                    {{ category.category_name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>


            </ul>
            <form class="d-flex me-3">
                <a class="btn btn-outline-dark" href="{% url 'cart_view' %}">
                    <i class="bi-cart-fill me-1"></i>
                    Кошик
                    <span class="badge bg-dark text-white ms-1 rounded-pill">{{ request.session.cart_count|default:0 }}</span>
                </a>
            </form>
        </div>

        <ul class="navbar-nav ms-auto">
            {% if request.session.user_id %}
                <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Мій профіль</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Вийти</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Авторизуватись</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Зареєструватись</a></li>
            {% endif %}
        </ul>
    </div>
</nav>


